/* Base CSS */
.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.p-4 {
    padding: 4px;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}

.ps-0 {
    padding-left: 0 !important;
}

.ps-4 {
    padding-left: 4px !important;
}

.ps-8 {
    padding-left: 8px !important;
}

.ps-16 {
    padding-left: 16px !important;
}

.ps-32 {
    padding-left: 32px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pt-16 {
    padding-top: 16px !important;
}

.pt-32 {
    padding-top: 32px !important;
}

.pe-0 {
    padding-right: 0 !important;
}

.pe-4 {
    padding-right: 4px !important;
}

.pe-8 {
    padding-right: 8px !important;
}

.pe-16 {
    padding-right: 16px !important;
}

.pe-32 {
    padding-right: 32px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-4 {
    padding-bottom: 4px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.pb-32 {
    padding-bottom: 32px !important;
}

.m-4 {
    margin: 4px;
}

.m-8 {
    margin: 8px;
}

.m-16 {
    margin: 16px;
}

.m-32 {
    margin: 32px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.me-0 {
    margin-right: 0 !important;
}

.me-4 {
    margin-right: 4px !important;
}

.me-8 {
    margin-right: 8px !important;
}

.me-16 {
    margin-right: 16px !important;
}

.me-32 {
    margin-right: 32px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}

.ms-0 {
    margin-left: 0 !important;
}

.ms-4 {
    margin-left: 4px !important;
}

.ms-8 {
    margin-left: 8px !important;
}

.ms-16 {
    margin-left: 16px !important;
}

.ms-32 {
    margin-left: 32px !important;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.rounded {
    border-radius: 5px;
}

.position-relative {
    position: relative;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.4rem;
    text-decoration: none;
    user-select: none;
    transition: all linear .2s;
    color: #333;
}

.btn-outline-primary {
    border: 1px solid #0d6efd;
    background: none;
    color: #0d6efd;
}

.btn-outline-primary:hover {
    background: #0d6efd;
    color: #fff;
}

.btn-outline-warning {
    border: 1px solid #fdf500;
    background: none;
    color: #fdf500;

}

.btn-outline-warning:hover {
    background: #fdf500;
    color: #fff;
}

.btn-outline-danger {
    border: 1px solid #fb3636;
    background: none;
    color: #fb3636;
}

.btn-outline-danger:hover {
    background: #fb3636;
    color: #fff;
}

.btn.disable {
    opacity: 0.7;
    cursor: no-drop;
}

.btn-sm {
    padding: 8px 12px;
    font-size: 1.3rem;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
}

/* flexbox */
.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-center-x {
    display: flex;
    justify-content: center;
}

.d-flex-center-y {
    display: flex;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}