.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    animation: amimate linear .2s;
    z-index: 999;
}

@keyframes amimate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}