.slick-next{
    right: 5px !important;
}

.slick-prev{
    left: 5px !important;
    
}

.slick-prev, .slick-next {
    width: 40px !important;
    height: 40px !important;
}

.slick-prev:before, .slick-next:before{
    font-size: 2.5rem !important;
}

.slick-dots li button:before{
    color: #ee4d2d !important;
    border-color: #ee4d2d;
    font-size: 10px !important;
}

.slick-arrow {
    z-index: 1;
}

.slick-arrow:before {
    font-size: 40px !important;
    color: #c3938a !important;
}

.slick-disabled {
    display: none !important;
}


